<html>
    <h1> BANK DEPOSITARY FORM </h1>
    <body>
        <form action="/sac" method="POST">
            <label>Age:</label><input type="text" name="age"> <br> <br>
            <label>education:</label><input type="text" name="education"> <br> <br>
            <label>default:</label><input type="text" name="default"> <br> <br>
            <label>balance:</label><input type="text" name="balance"> <br> <br>
            <label>housing:</label><input type="text" name="housing"> <br> <br>
            <label>loan:</label><input type="text" name="loan"> <br> <br>
            <label>duration:</label><input type="text" name="duration"> <br> <br>
            <label>campaign:</label><input type="text" name="campaign"> <br> <br>
            <label>pdays:</label><input type="text" name="pdays"> <br> <br>
            <label>previous:</label><input type="text" name="previous"> <br> <br>
            <label>marital:</label><input type="text" name="marital"> <br> <br>
            <label>job:</label><input type="text" name="job"> <br> <br>
            <label>poutcome:</label><input type="text" name="poutcome"> <br> <br>

            <input type="submit">

        </form>

        {{final}}

    </body>
</html>